body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #092838;
}

/*------------Header CSS------------*/
header {
    padding: 20px 0px;
}

.header-logo {
    max-width: 30%;
    height: auto;
}

.search-bar {
    padding-top: 50px;
}

/*------------Main CSS------------*/
.weather-dashboard {
    background-color: #ffff;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
}

.icon {
    background-color: #ffff;
    border-radius: 5px;
}

/*------------Main Left Nav CSS------------*/
.main-left {
    background-color: #ff7953;
    border-right: 3px solid white;
    border-radius: 5px;
}

a {
    color: white;
}

/*------------Main Right Article CSS------------*/
.main-right {
    border-left: 3px solid white;
}

/*------------Right Side Top Section Left CSS------------*/
.current-name {
    text-align: left;
    border-radius: 5px;
}

/*------------Right Side Top Section Middle CSS------------*/
.current-center {
    /* text-align: center; */
}

.current-temp {
    padding-top: 140px;
    font-size: calc(400vw / 40);
    text-shadow: 4px 4px #092838;
}

.current-combo {
    font-size: 20px;
}

.current-des {
    font-size: 20px;
}

.op-block {
    background-color: black;
    opacity: 0.5;
}

.current-city {
    color: white;
    background-position: center;
    background-size: cover;
    background-color: #0079BF;
    padding: 20px;
    border-radius: 5px;
    height: 500px;
}

/*------------Right Side Top Section Right CSS------------*/
.time {
    padding-bottom: 500px;
    text-align: right;
}

/*------------Right Side Bottom Section CSS------------*/
h4 {
    font-size: 20px;
}

.city-forecast {
    /* padding-top: 10px; */
    /* border-radius: 5px; */
    /* background-color: #092838; */

}

.content {
    color: white;
    height: 180px;
    font-size: calc(10vw / 10);
    padding: 20px;
    border-radius: 5px;
    background-color: #092838;
}

/*------------Right Side Top Section Background City Pics------------*/
.chicago {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(9,40,56,0) 60%), url("https://www.silversmithchicagohotel.com/resourcefiles/home-image-slider/the-silver-smith-hotel-chicago-home-3.jpg");
}
