body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: #092838;
}

header {
    padding: 20px;
    border-radius: 5px;
}

img {
    max-width: 20%;
    height: auto;
}

h1 {
    font-size: 30Px;
    color: white;
    height: 10px;
    padding: 0;
}

/* .weather-dashboard {
    background-color: #ffff;
    border-radius: 5px;
    padding: 20px;
} */

.left-section {
    padding: 0px 20px;
}

.list-group-item {
    background-color: #0079BF;
}

a {
    color: white;
    height: 41px;
}

.cities {
    background-color: #ffff;
    padding: 5px;
    border-radius: 5px;
    height: 540px;
}

.right-section {
    background-color: #ffff;
    padding: 5px 20px;
    border-radius: 5px;
}

.city-current {
    color: white;
    background-image: url("https://www.silversmithchicagohotel.com/resourcefiles/home-image-slider/the-silver-smith-hotel-chicago-home-3.jpg");
    background-position: center;
    background-size: cover;
    background-color: #0079BF;
    padding: 20px;
    border-radius: 5px;
    height: 396px;
    text-align: center;
}

.city-forecast {
    padding-top: 5px;
}

.card {
    color: white;
    background-color: #0079BF;
    border-radius: 5px;
    padding: 20px;
}
