body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #092838;
}

/*------------Header CSS------------*/

header {
    padding: 20px 0px;
    /* background-color: #0079BF; */
}

.header-logo {
    max-width: 30%;
    height: auto;
}

.search-bar {
    padding-top: 50px;
}

/*------------Main CSS------------*/

.weather-dashboard {
    background-color: #ffff;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
}

/*------------Main Left CSS------------*/

.main-left {
    background-color: #092838;
    border-right: 3px solid white;
    border-radius: 5px;
}

.cities {
    /* padding-right: 5px; */
}

/*------------Main Rright CSS------------*/

.main-right {
    border-left: 3px solid white;
}

.current-cit {
    padding-bottom: 500px;
    text-align: left;
}

.time {
    padding-bottom: 500px;
    text-align: right;
}

.chicago {
    background-image: url("https://www.silversmithchicagohotel.com/resourcefiles/home-image-slider/the-silver-smith-hotel-chicago-home-3.jpg");
}

.city-current {
    color: white;
    background-position: center;
    background-size: cover;
    background-color: #0079BF;
    place-items: center;
    padding: 20px;
    border-radius: 5px;
    height: 500px;
}

.city-forecast {
    padding-top: 5px;
}

.content {
    color: white;
    background-color: #092838;
    height: 150px;
    font-size: 12px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-radius: 5px;
}
